
<div>
    <h2><span translate="projectInfoServiceApp.environment.detail.title">Environment</span> {{environment.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="projectInfoServiceApp.environment.type">Type</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'projectInfoServiceApp.EnvironmentType.' + environment.type}}">{{environment.type}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="projectInfoServiceApp.environment.server">Server</span>
                </td>
                <td>
                    <span class="form-control-static">{{environment.server}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="projectInfoServiceApp.environment.amqHost">AmqHost</span>
                </td>
                <td>
                    <span class="form-control-static">{{environment.amqHost}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="projectInfoServiceApp.environment.amqPort">AmqPort</span>
                </td>
                <td>
                    <span class="form-control-static">{{environment.amqPort}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="projectInfoServiceApp.environment.project">project</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="project.detail({id:environment.project.name})">{{environment.project.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
