<div>
    <h2 translate="projectInfoServiceApp.environment.home.title">Environments</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="environment.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="projectInfoServiceApp.environment.home.createLabel">Create a new Environment</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Environment</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="projectInfoServiceApp.environment.type">Type</th>
                    <th translate="projectInfoServiceApp.environment.server">Server</th>
                    <th translate="projectInfoServiceApp.environment.amqHost">AmqHost</th>
                    <th translate="projectInfoServiceApp.environment.amqPort">AmqPort</th>
                    <th translate="projectInfoServiceApp.environment.project">project</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="environment in environments track by environment.id">
                    <td><a ui-sref="environment.detail({id:environment.id})">{{environment.id}}</a></td>
                    <td translate="{{'projectInfoServiceApp.EnvironmentType.' + environment.type}}">{{environment.type}}</td>
                    <td>{{environment.server}}</td>
                    <td>{{environment.amqHost}}</td>
                    <td>{{environment.amqPort}}</td>
                    <td>
                        <a ui-sref="project.detail({id:environment.project.name})">{{environment.project.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="environment.detail({id:environment.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="environment.edit({id:environment.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="environment.delete({id:environment.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
