
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEnvironmentLabel" translate="projectInfoServiceApp.environment.home.createOrEditLabel">Create or edit a Environment</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="environment.id" readonly />
        </div>
        <div class="form-group">
            <label translate="projectInfoServiceApp.environment.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="environment.type" id="field_type" required>
                <option value="DEV" translate="projectInfoServiceApp.EnvironmentType.DEV">DEV</option>
                <option value="TEST" translate="projectInfoServiceApp.EnvironmentType.TEST">TEST</option>
                <option value="ACC" translate="projectInfoServiceApp.EnvironmentType.ACC">ACC</option>
                <option value="PROD" translate="projectInfoServiceApp.EnvironmentType.PROD">PROD</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="projectInfoServiceApp.environment.server" for="field_server">Server</label>
            <input type="text" class="form-control" name="server" id="field_server"
                    ng-model="environment.server"
                     />
        </div>
        <div class="form-group">
            <label translate="projectInfoServiceApp.environment.amqHost" for="field_amqHost">AmqHost</label>
            <input type="text" class="form-control" name="amqHost" id="field_amqHost"
                    ng-model="environment.amqHost"
                     />
        </div>
        <div class="form-group">
            <label translate="projectInfoServiceApp.environment.amqPort" for="field_amqPort">AmqPort</label>
            <input type="number" class="form-control" name="amqPort" id="field_amqPort"
                    ng-model="environment.amqPort"
                     />
        </div>

        <div class="form-group">
            <label translate="projectInfoServiceApp.environment.project" for="field_project">project</label>
            <select class="form-control" id="field_project" name="project" ng-model="environment.project.name" ng-options="project as project.name for project in projects track by project.name">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
