
<div>
    <h2><span translate="projectInfoServiceApp.project.detail.title">Project</span> {{project.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="projectInfoServiceApp.project.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{project.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="projectInfoServiceApp.project.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{project.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="projectInfoServiceApp.project.documentationLink">DocumentationLink</span>
                </td>
                <td>
                    <span class="form-control-static">{{project.documentationLink}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
